@model AccountCreationController

@{
    ViewData["Title"] = "Account Fail";
}

<div class="jumbotron">

<h1 class="lead" style="font-size:42pt">Your Account is not created</h1>
<ul>
    <li>Make sure you are using a valid Email Address</li>
    <li>Make sure the password is at least 8 characters long</li>
    <li>Make sure the password contains a mixture of upper and lowercase letters</li>
</ul>
</div>