@model Login

@{
    ViewData["Title"] = "Unsuccessful";
}

<div class="jumbotron">
    <h1 class="lead" style="font-size:30pt">Login unsuccessful for user:</h1>
    
    <h3>
        <span>MyUser</span>
        &nbsp;
    </h3>

</div>